.getStarted {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    margin-top: 100px;

    .getStartedheadingtext {
        /* font-size: var(--HeadingFS); */
        font-size: 36px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        span {
            color: #EE2145;
        }
    }

    .getStaredContents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        justify-content: center;
        gap: 100px;
        font-family: "Raleway", sans-serif;

        .step {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                /* font-size: var(--HeadingFS); */
                font-size: 30px;

                span {
                    color: #EE2145;
                }
            }

            p {
                /* font-size: var(--ParagraphFS); */
                font-size: 22px;
            }

            img {
                width: min(80%, 100%);
                align-self: center;
            }
        }

    }

    .button{
        font-family: "Raleway", sans-serif;
        font-size: var(--buttonFS);
        padding: 19px 30px;
        cursor: pointer;
        color: white;
        background-color: var(--main-red);
        border: none;
        border-radius: var(--border-radius);
        font-weight: 700;
        text-decoration: none;
    }
}

@media (max-width: 960px) {
    .getStarted {
        .getStaredContents {
            grid-template-columns: 1fr;
        }
    }
}