/* .hero-page .background-shapes {
    position: absolute;
} */

.hero-page {
    height: auto;
    padding: 150px 0 20px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: radial-gradient(circle at 40% 0%, #872032 62%, #ffffff 62%);
    overflow: hidden;
}

.hero-page h4 {
    font-weight: 500;
    font-size: 20px;
    font-family: Noto Sans, Tahoma;
    margin-bottom: 20px;
}

.hero-page h1 {
    font-weight: 700;
    max-width: 600px;
    font-size: 46px;
    margin: 0 auto;
    font-family: Noto Sans, Tahoma;
    margin-bottom: 20px;
    line-height: 115%;
}

.hero-page p {
    font-weight: 300;
    font-size: 22px;
    font-family: Raleway;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hero-page .button {
    margin-bottom: 50px;
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 800;
    color: #BC203B;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero-page .button a {
    text-decoration: none;
}

.hero-page-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 90%;
    height: auto;
    object-fit: inherit;
    margin-bottom: 60px;
    box-shadow: 0px 6px 4px rgba(238, 33, 71, 0.30)
}

.hero-page .hero-footer p {
    color: black;
    font-weight: 600;
    font-family: Raleway;
    font-size: 22px;
}

.highlight {
    color: #EE2145;
}

.landingPage {
    width: 100%;
    /* height: 195vh; */
    /* max-height: 195vh; */
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat", sans-serif;

    .landingPage-wrapper{
        /* background-color: blue; */
        height: 70%;
        width: 100%;
    }

    .landingPage-content-wrapper {
        /* width: 100%;
        height: 60%;
        background-color: var(--main-red);
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        justify-self: flex-end; */
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 100px 0 20px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        background: radial-gradient(circle at 35% 0%, #872032 62%, #ffffff 62%);


        .landing-contents {
            /* margin-top: 200px; */
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            width: min(1250px, 80%);
            text-align: center;
            align-items: center;

            h4 {
                font-size: clamp(20px, 1.3vw, 1.5vw);
                font-weight: 700;
            }

            h1 {
                /* font-size: 43px; */
                font-size: clamp(43px, 3vw, 4vw);
                width: min(900px, 100%);
                font-weight: 700;
            }

            p {
                opacity: 0.9;
                /* font-size: clamp(20px, 1.3vw, 1.5vw); */
                width: min(600px, 100%);
                font-family: "Raleway", sans-serif;
                font-weight: 300;
                font-weight: 400;
            }

            button {
                font-family: "Raleway", sans-serif;
                font-size: clamp(16px, 1vw, 2vw);
                padding: 19px 30px;
                cursor: pointer;
                color: var(--main-red);
                background-color: white;
                border: none;
                border-radius: var(--border-radius);
                font-weight: 700;
            }
        }

        .landing-img {
            width: 90%;
            justify-self: flex-end;

            img {
                width: 100%;
            }
        }

        .landingBottomText {
            text-align: center;
            font-size: 30px;
            font-family: "Raleway", sans-serif;

            span {
                color: #EE2145;
            }
        }
    }
}

@media (min-width: 1800px) {
    .landingPage {
        .landingPage-content-wrapper {
            .landing-contents {
                margin-top: 300px;
                gap: 40px;

                h1 {
                    width: 1500px;
                }

                p {
                    width: 1100px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .landingPage-content-wrapper {
        height: auto;
        padding: 100px 0 20px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        background: radial-gradient(circle at 35% 0%, #872032 62%, #ffffff 62%);
    }
    .hero-page {
        height: auto;
        padding: 100px 0 20px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        background: radial-gradient(circle at 35% 0%, #872032 62%, #ffffff 62%);
    }
    .hero-page .background-shapes {
        position: absolute;
    }

    .hero-page-img {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 90%;
        object-fit: contain;
        /* margin-bottom: 60px; */
    }

    .hero-page .button {
        margin-bottom: 60px;
        padding: 15px 25px;
        font-family: Noto Sans, Tahoma;
        font-size: 14px;
        font-weight: 700;
        background-color: #ffffff;
        color: #BC203B;
        /* width: 150px; */
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .hero-page .button a {
        text-decoration: none; 
    }
    .hero-page h1 {
        font-weight: 850;
        width: 400px;
        font-size: 32px;
        margin: 0 auto;
        font-family: Noto Sans, Tahoma;
        margin-bottom: 30px;
        line-height: 115%;
    }
    .hero-page h4 {
        font-weight: 400;
        font-size: 16px;
        font-family: Noto Sans, Tahoma;
        margin-bottom: 30px;
    }
    .hero-page p {
    font-weight: 300;
    font-size: 18px;
    font-family: Raleway;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    }
    .hero-page .hero-footer p{
        color: #333333;
        font-weight: 600;
        font-family: Raleway;
    }
}

/* @media (max-width: 2400px) {
    .landingPage{
        height: 180vh;
    }
}

@media (max-width: 2100px) {
    .landingPage{
        height: 160vh;
    }
}

@media (max-width: 1800px) {
    .landingPage{
        height: 140vh;
    }
} */

/* @media (max-width: 1920px) {
    .landingPage {
        height: 150vh;
    }
}

@media (max-width: 900px) {
    .landingPage {
        .landingPage-content-wrapper {
            .landing-contents {
                margin-top: 250px;
                width: 95%;
            }
    
            .landingBottomText {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 630px) {
    .landingPage {
        height: 110vh;

        .landingPage-content-wrapper {
            height: 90%;
            .landing-contents {
                margin-top: 250px;
                width: 95%;

                h4 {
                    font-size: 1.2rem;
                }

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                button {
                    font-size: 20px;
                    padding: 20px 35px;
                }
            }

            .landingBottomText {
                font-size: 20px;
            }
        }
    }
} */