.landingPage{
    width: 100%;
    height: 140vh;
    background-color: var(--main-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-family: "Montserrat", sans-serif;
    gap: 100px;

    .landing-contents{
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: white;
        margin-top: 350px;
        width: min(1250px, 80%);
        text-align: center;
        align-items: center;

        h4{
            font-size: 2rem;
            opacity: 0.5;
        }

        h1{
            font-size: 4rem;
        }

        p{
            font-size: 1.8rem;
            width: 80%;
        }

        button{
            font-family: "Raleway", sans-serif;
            font-size: 25px;
            padding: 25px 50px;
            cursor: pointer;
            color: var(--main-red);
            background-color: white;
            border: none;
            border-radius: var(--border-radius);
        }
    }

    .landing-img{
        width: 90%;

        img{
            width: 100%;
        }
    }
}

@media (max-width: 1500px) {
    .landingPage{
        height: 120vh;
    }
}

@media (max-width: 900px) {
    .landingPage{
        .landing-contents{
            margin-top: 250px;
            width: 95%;
        }
    }
}

@media (max-width: 630px) {
    .landingPage{
        height: 100vh;

        .landing-contents{
            margin-top: 250px;
            width: 95%;

            h4{
                font-size: 1.2rem;
            }

            h1{
                font-size: 3rem;
            }

            p{
                font-size: 1.5rem;
            }
        }
    }
}