/* .hero-page .background-shapes {
    position: absolute;
} */

.hero-page {
    height: auto;
    padding: 150px 0 20px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: radial-gradient(circle at 40% 0%, #872032 62%, #ffffff 62%);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .shape {
        position: absolute;
        z-index: -1;
        opacity: 0.7;
    }

    .shape1 {
        width: 60px;
        top: 0px;
        left: -10px;
    }

    .shape2 {
        width: 25px;
        top: 4%;
        left: 50%;
    }

    .shape3 {
        top: 7%;
        right: 20px;
    }

    .shape4 {
        width: 40px;
        left: -10px;
        top: 25%;
    }

    .shape5 {
        width: 15px;
        left: 30%;
        top: 28%
    }

    .shape6 {
        width: 25px;
        left: 60%;
        top: 27%;
    }

    .shape8 {
        width: 50px;
        right: -10px;
    }
}


.hero-page h4 {
    font-weight: 500;
    font-size: var(--ParagraphFS);
    margin-bottom: 20px;
}

.hero-page h1 {
    font-weight: 700;
    width: min(600px, 90%);
    font-size: var(--HeadingFS);
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 115%;
}

.hero-page p {
    font-weight: 200;
    font-size: var(--ParagraphFS);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hero-page .button {
    margin-bottom: 60px;
    padding: 20px 30px;
    font-size: var(--buttonFS);
    font-weight: 600;
    color: #BC203B;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero-page .button a {
    text-decoration: none;
}

.images-shapes {
    position: relative;
    max-width: 100%;
    width: 85%;
    display: block;
    margin: 0 auto;
    height: auto;
    object-fit: inherit;
    margin-bottom: 60px;
    
    .hero-page-img {
        width: 100%;
        box-shadow: 0px 6px 4px rgba(238, 33, 71, 0.30);
    }

    .shape9 {
        width: 35px;
        top: -40px;
        left: 20%;
        position: absolute;
    }

    .shape10 {
        left: -50px;
        top: 15%;
        width: 20px;
        position: absolute;
        /* width: 20px; */
    }
}

.hero-page .hero-footer p {
    color: black;
    font-weight: 500;
    font-size: var(--ParagraphFS);
}

.highlight {
    color: #EE2145;
}



@media (min-width: 1800px) {
    .hero-page {
        height: auto;
        padding: 150px 0 20px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        background: radial-gradient(circle at 35% 0%, #872032 62%, #ffffff 62%);
        overflow: hidden;
        position: relative;
        z-index: 1;}
    /* .landingPage {
        .landingPage-content-wrapper {
            .landing-contents {
                margin-top: 300px;
                gap: 40px;

                h1 {
                    width: 1500px;
                }

                p {
                    width: 1100px;
                }
            }
        }
    } */
}

@media (max-width: 600px) {
    .hero-page {
        height: auto;
        padding: 100px 0 20px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        background: radial-gradient(circle at 5% 0%, #872032 70%, #ffffff 70%);
    }

    .hero-page .background-shapes {.shape {
        position: absolute;
        z-index: -1;
        opacity: 0.7;
    }

    .shape1 {
        width: 45px;
        top: 0px;
        left: -10px;
    }

    .shape2 {
        width: 22px;
        top: 4%;
        left: 55%;
    }

    .shape3 {
        width: 12px;
        top: 7%;
        right: 20px;
    }

    .shape4 {
        width: 30px;
        left: -10px;
        top: 32%;
    }

    .shape5 {
        width: 12px;
        left: 30%;
        top: 49%
    }

    .shape6 {
        width: 20px;
        left: 70%;
        top: 43%;
    }

    .shape8 {
        width: 35px;
        top: 50%;
        right: -10px;
    }
    
    }


    .images-shapes {
        position: relative;
        max-width: 100%;
        width: 90%;
        display: block;
        margin: 0 auto;
        height: auto;
        object-fit: inherit;
        margin-bottom: 60px;
    
        
        .hero-page-img {
            width: 100%;
        }
    
        .shape9 {
            width: 20px;
            top: -22px;
            left: 20%;
            position: absolute;
        }
    
        .shape10 {
            left: -10px;
            top: 10%;
            width: 15px;
            position: absolute;
            /* width: 20px; */
        }
    }

    .hero-page .button {
        margin-bottom: 50px;
        padding: 15px 25px;
        font-size: var(--button2FS);
        font-weight: 700;
        color: #BC203B;
        background-color: #ffffff;
        /* width: 150px; */
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .hero-page .button a {
        text-decoration: none;
    }

    .hero-page h1 {
        font-weight: 700;
        width: min(400px, 80%);
        font-size: var(--Heading1FS);
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 115%;
    }

    .hero-page h4 {
        font-weight: 500;
        font-size: var(--Paragraph2FS);
        margin-bottom: 30px;
    }

    .hero-page p {
        font-weight: 300;
        font-size: var(--ParagraphFS);
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .hero-page .hero-footer p{
        font-size: var(--button2FS);
        color: #333333;
        font-weight: 600;
    }
}

@media (max-width: 490px) {
    .hero-page {
        .shape10{
            display: none;
        }
    }
}