.features{
    width: 100%;
    min-height: 200vh;

    .featuresHero{
        width: 100%;
        min-height: 40vh;
        background-color: #FFECBA;
        border-bottom-left-radius: 40%;
        display: grid;
        place-items: center;

        h1{
            font-family: "Montserrat", sans-serif;
            font-size: clamp(40px, 3.2vw, 6vw);
            text-align: center;
        }
    }

    .giveBusinessProfTouch{
        margin: 100px 0;
        font-family: "Raleway", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        .giveBusinessProfTouchH1{
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-size: var(--HeadingFS);
        }

        .giveBusinessProfTouchContents{
            display: flex;
            width: 90%;
            gap: 25px;
            row-gap: 100px;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .profTouch{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 70%;

                h3 {
                    font-size: clamp(25px, 1.7vw, 2vw);
    
                    span {
                        color: #EE2145;
                    }
                }
    
                /* p {
                    font-size: clamp(20px, 1.5vw, 2vw);
                } */
    
                img {
                    width: min(70%, 100%);
                    width: 100%;
                }
            }
            .profTouch-title-wrapper {
                display: flex;
                justify-content: space-between;

                img {
                    width: 20px;
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .features{
        .giveBusinessProfTouch{
            .giveBusinessProfTouchContents{
                .profTouch{
                    width: 100%;
                }
            }
        }
    }
}