.easytools {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    position: relative;
    align-items: center;
    gap: 100px;
    padding: 100px 0;

    .arrow1 {
        position: absolute;
        width: 200px;
        top: 30px;
        right: 0;
    }

    .arrow2 {
        position: absolute;
        width: 200px;
        bottom: 30px;
        left: 0;
    }

    h1 {
        font-size: var(--HeadingFS);
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }

    .easytoolswrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-family: "Raleway", sans-serif;
        row-gap: 50px;

        .tool {
            width: 49%;
            display: flex;
            gap: 10px;

            img {
                width: 120px;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;


                h3 {
                    font-size: var(--Heading4FS);
                }

                p {
                    font-size: var(--ParagraphFS);
                }
            }
        }
    }

    button {
        font-family: "Raleway", sans-serif;
        font-size: var(--buttonFS);
        padding: 19px 30px;
        cursor: pointer;
        color: white;
        background-color: var(--main-red);
        border: none;
        border-radius: var(--border-radius);
        font-weight: 700;
    }
}

@media (max-width: 1127px) {
    .easytools {
        .easytoolswrapper {
            .tool {
                width: 80%;
            }
        }
    }
}

@media (max-width: 600px) {
    .easytools {

        .arrow1,
        .arrow2 {
            width: 100px;
        }

        .easytoolswrapper {
            .tool {
                width: 100%;

                img{
                    width: 60px;
                }
            }
        }
    }
}