.easytools {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    position: relative;
    align-items: center;
    gap: 50px;
    padding: 100px 0;

    .arrow1 {
        position: absolute;
        width: 100px;
        top: 0;
        right: 0;
    }

    .arrow2 {
        position: absolute;
        width: 100px;
        bottom: 0;
        left: 0;
    }

    h1 {
        font-size: var(--Heading2FS);
        text-align: center;
        margin-top: 50px;
    }

    .easytoolswrapper {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        width: 90%;
        /* flex-wrap: wrap; */
        gap: 50px;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        row-gap: 60px;

        .tool {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            img {
                width: 70px;
                height: auto;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;


                h3 {
                    font-size: var(--ParagraphFS);
                }

                p {
                    font-size: var(--ParagraphFS);
                }
            }
        }
    }

    button {
        font-size: var(--buttonFS);
        padding: 15px 30px;
        cursor: pointer;
        color: white;
        background-color: var(--main-red);
        border: none;
        border-radius: var(--border-radius);
        font-weight: 500;
    }
}

@media (max-width: 1127px) {
    .easytools {
        .easytoolswrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .tool {
                width: 80%;
            }
        }
    }
}

@media (max-width: 800px) {
    .easytoolswrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .easytools h1 {
        font-size: var(--Heading3FS);
        text-align: center;
        margin-top: 50px;
    }
    .easytools {
        padding: 50px 0;
        padding-bottom: 100px;
        .arrow1,
        .arrow2 {
            width: 100px;
        }

        .easytoolswrapper {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            .tool {
                flex-direction: row;
                width: 100%;

                div h3 {
                    font-size: var(--ParagraphFS);
                }
                div p {
                    font-size: var(--ParagraphFS);
                }

                img{
                    width: 40px;
                }
            }
        }

        button {
            font-size: var(--button2FS);
            padding: 15px 30px;
            cursor: pointer;
            color: white;
            background-color: var(--main-red);
            border: none;
            border-radius: var(--border-radius);
            font-weight: 500;
        }
    }
}