.easytools {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    position: relative;
    align-items: center;
    gap: 100px;
    padding: 150px 0;
    margin-top: 50px;

    .arrow1 {
        position: absolute;
        width: 100px;
        top: 100px;
        right: 0;
    }

    .arrow2 {
        position: absolute;
        width: 100px;
        bottom: 30px;
        left: 0;
    }

    h1 {
        font-size: var(--HeadingFS);
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }

    .easytoolswrapper {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        /* align-items: center; */
        width: 90%;
        /* flex-wrap: wrap; */
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: "Raleway", sans-serif;
        row-gap: 60px;

        .tool {
            /* width: 40%; */
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            img {
                width: 60px;
                height: auto;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;


                h3 {
                    /* font-size: var(--Heading4FS); */
                    font-size: 24px;
                }

                p {
                    /* font-size: var(--ParagraphFS); */
                    font-size: 22px;
                }
            }
        }
    }

    button {
        font-family: "Raleway", sans-serif;
        font-size: var(--buttonFS);
        padding: 19px 30px;
        cursor: pointer;
        color: white;
        background-color: var(--main-red);
        border: none;
        border-radius: var(--border-radius);
        font-weight: 700;
    }
}

@media (max-width: 1127px) {
    .easytools {
        .easytoolswrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .tool {
                width: 80%;
            }
        }
    }
}

@media (max-width: 800px) {
    .easytoolswrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .easytools {

        .arrow1,
        .arrow2 {
            width: 100px;
        }

        .easytoolswrapper {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            .tool {
                flex-direction: row;
                width: 100%;

                div h3 {
                    font-size: 20px;
                }
                div p {
                    font-size: 18px;
                }

                img{
                    width: 60px;
                }
            }
        }
    }
}