.getStartedForFree {
    background-color: #F9E7EA;
    width: 100%;
    /* min-height: 60vh; */
    padding: 150px 20px;
    display: grid;
    place-items: center;
    gap: 50px;
    position: relative;
    z-index: 1;

    .arrow1,
    .arrow2,
    .arrow3,
    .arrow4 {
        position: absolute;
        width: 100px;
    }

    .arrowBig {
        position: absolute;
        width: min(400px, 100%);
        opacity: 0.8;
        z-index: -1;
    }

    .arrow1 {
        top: 0;
        left: 0;
    }

    .arrow2 {
        top: 0;
        right: 0;
    }

    .arrow3 {
        bottom: 0;
        left: 0;
    }

    .arrow4 {
        bottom: 0;
        right: 0;
    }


    h1 {
        font-size: clamp(30px, 3vw, 4.5vw);
        color: black;
        text-align: center;
        font-family: "Montserrat", sans-serif;

        span {
            color: var(--main-red);
        }
    }

    p {
        /* font-size: clamp(20px, 1.5vw, 1.8vw); */
        font-size: 22px;
        width: min(750px, 90%);
        line-height: 140%;
        text-align: center;
        font-family: "Raleway", sans-serif;
    }


    .getStartedForFreeButtons {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        gap: 15px;

        button {
            font-family: "Raleway", sans-serif;
            /* font-size: var(--buttonFS); */
            font-size: 18px;
            padding: 19px 30px;
            cursor: pointer;
            color: white;
            background-color: var(--main-red);
            border: none;
            /* border-radius: var(--border-radius); */
            border-radius: 5px;
            font-weight: 700;
        }

        .seeDemoBtn {
            background-color: #BC203B;
            cursor: pointer;
        }
    }
}

@media (max-width: 760px) {
    .getStartedForFree {
        .arrow1,
        .arrow2,
        .arrow3,
        .arrow4 {
            width: 70px;
        }

        .getStartedForFreeButtons {
            flex-direction: column;
        }
    }
}

@media (max-width: 600px) {
    .getStartedForFree {
        padding: 50px 20px;
        gap: 40px;
        position: relative;
        padding: 50px 20px;
        /* margin: auto; */
        overflow: hidden; /* Keeps rockets from overflowing outside */
        background-color: #F9E7EA;

        .getStartedForFreeButtons {
            gap: 10px;

            button {
            padding: 15px 25px;
            /* margin: 0 auto; */
            font-family: Noto Sans, Tahoma;
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            background-color: #872032;
            width: 150px;
            border-radius: 5px;
            border: none;
            outline: none;
            justify-content: center;
            align-items: center;
            /* margin-bottom: 10px; */
            cursor: pointer;
            z-index: 10;
            position: relative;
            }
        }
        h1 {
            font-size: 30px;
            font-family: Noto Sans;
            font-weight: 800;
        }
        p {
            max-width: 700px;
        /* font-size: 17px; */
        font-family: Raleway;
        color: #333333;
        }
    }
}