.getpaidincurrencies {
    background-color: var(--main-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: white;
    margin-top: 100px;
    padding: 150px 20px;
    position: relative;
    z-index: 1;

    .circle1, .circle2, .circle3, .circle4, .triangle1, .triangle2, .triangle3{
        position: absolute;
        /* width: 40px; */
        z-index: -1;
        opacity: 0.7;
    }

    .circle1{
        width: 30px;
        top: 24%;
        left: 30px;
    }

    .triangle1{
        width: 41px;
        top: 25px;
        left: 26%;
    }    

    .circle2{
        width: 38px;
        right: 12%;
        top: 38px;
    }

    .circle3{
        width: 50px;
        bottom: 22%;
        left: 0;
    }

    .circle4{
        width: 32px;
        bottom: 30%;
        right: 35%;
    }

    .triangle2{
        width: 30px;
        bottom: 19%;
        right: 45%;
    }

    .triangle3{
        width: 30px;
        right: 10px;
        bottom: 60%;
    }

    h1 {
        font-size: var(--Heading1FS);
        width: min(1500px, 90%);
        text-align: center;
    }

    p {
        font-size: var(--ParagraphFS);
        width: min(700px, 100%);
        text-align: center;
        opacity: 0.8;
    }
}

.getpaidincurrencies .coming-soon {
        background-color: rgba(255, 207, 215, 0.20);
        width: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        /* margin: 0 auto; */
    }
    .getpaidincurrencies .coming-soon h2{
        font-size: var(--Heading2FS);
        opacity: 90%;
    }

@media (min-width: 1800px) {
    .getpaidincurrencies{
        padding: 100px 20px;

        p{
            width: 1500px;
        }
    }
}

@media (max-width: 600px) {
    .getpaidincurrencies {
        padding: 50px 20px;
        height: auto;
        align-items: center;
        text-align: center;
        background-color: #872032;
        color: #ffffff;
    }

    .circle1, .circle2, .circle3, .circle4, .triangle1, .triangle2, .triangle3{
        position: absolute;
        /* width: 40px; */
        z-index: -1;
        opacity: 0.7;
    }

    .getpaidincurrencies .circle1{
        width: 10px;
        top: 24%;
        left: 30px;
    }

    .getpaidincurrencies .triangle1{
        width: 21px;
        top: 25px;
        left: 26%;
    }    

    .getpaidincurrencies .circle2{
        width: 18px;
        right: 12%;
        top: 38px;
    }

    .getpaidincurrencies .circle3{
        width: 30px;
        bottom: 22%;
        left: 0;
    }
    .getpaidincurrencies .circle4{
        width: 12px;
        bottom: 30%;
        right: 35%;
    }

    .getpaidincurrencies .triangle2{
        width: 10px;
        bottom: 19%;
        right: 45%;
    }

    .getpaidincurrencies .triangle3{
        width: 10px;
        right: 10px;
        bottom: 60%;
    }

    .getpaidincurrencies .heading h1 {
        font-size: var(--Heading2FS);
        font-weight: 800;
        width: min(400px, 100%);
        margin: 0 auto;
        /* margin-bottom: 30px; */
    }
    
    .getpaidincurrencies p {
        font-size: var(--ParagraphFS);
        line-height: 115%;
        width: min(400px, 100%);
        height: auto;
        margin: 0 auto;
        /* margin-bottom: 20px; */
    }

    .getpaidincurrencies .coming-soon {
        background-color: rgba(255, 207, 215, 0.20);
        width: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 0 auto;
    }
    .getpaidincurrencies .coming-soon h2{
        font-size: var(--Heading3FS);
    }
}