.showcase-wrapper {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
}
.showcase-sections {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.gallery-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(135, 32, 50, 0.3), rgba(135, 32, 50, 0.1)), url(../public/banner-image.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}
.gallery-banner .banner-image-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.gallery-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 32, 50, 0.5); /* Adjust this for your color overlay */
    z-index: 0; /* This ensures the color overlay is above the image but below the content */
    opacity: 0.4;
}
.gallery-banner .banner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
.gallery-banner .banner-text h1 {
    font-size: 37px;
    font-weight: bold;
    line-height: 45px;
}
.gallery-banner h1 span {
    font-size: 40px;
    color: #BC203B;
}
.gallery-banner .banner-text p {
    color: #333333;
    font-weight: lighter;
    font-size: 20px;
    line-height: 25px;
}