.showcase-wrapper {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
}
.showcase-sections {
    display: flex;
    flex-direction: column;
    gap: 130px;
}
.gallery-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(135, 32, 50, 0.3), rgba(135, 32, 50, 0.1)), url(../public/banner-image.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}
.gallery-banner .banner-image-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.gallery-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 32, 50, 0.4); /* Adjust this for your color overlay */
    z-index: 0; /* This ensures the color overlay is above the image but below the content */
    opacity: 0.1;
}
.gallery-banner .banner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    z-index: 1;
}
.gallery-banner .banner-text h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 45px;
}
.gallery-banner h1 span {
    font-size: 40px;
    color: #BC203B;
}
.gallery-banner .banner-text p {
    font-weight: lighter;
    font-size: 23px;
    line-height: 30px;
    color: #333333
}

select {
  text-align: center;
  appearance: none; /* Remove default arrow */
  border: none;
  border-bottom: 1px solid #872032; /* Faked underline */
  padding-bottom: 15px;
  color: #000; /* Text color */
  font-size: 30px;
  font-weight: 530;
  cursor: pointer;
  /* width: 200px; */
  outline: none;
  position: relative;
  margin-bottom: 100px;
}

.client-galleries {
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    margin-bottom: 60px;
}
.client-galleries div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.client-galleries div p {
    text-transform: uppercase;
    font-size: 20px;
}
.client-galleries div img {
    width: 90%;
    cursor: pointer;
}