.footer {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 20px 20px 20px;
    justify-content: space-between;

    .footerWrapper {
        display: flex;
        width: min(2000px, 90%);
        justify-content: space-between;
        gap: 50px;

        .footerheading {
            display: flex;
            flex-direction: column;
            gap: 30px;

            img {
                width: 150px;
            }

            div {
                display: flex;
                gap: 30px;

                img {
                    width: 30px;
                }
            }
        }

        .footerContents {
            display: flex;
            width: 60%;
            justify-content: space-between;

            .footerContent {
                display: flex;
                flex-direction: column;
                gap: 10px;


                h3 {
                    font-size: var(--Heading4FS);
                    padding-bottom: 20px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }

            ul li a {
                    text-align: left;
                    text-decoration: none;
                    color: black;
                    font-size: var(--ParagraphFS);
                }
            }

            .footerContent2 {
                justify-content: space-between;
                width: 55%;
                flex-direction: row;
            }
        }
    }

    .footerText {
        text-align: center;
        font-size: var(--ParagraphFS - 1);
    }
}

@media (max-width: 1200px) {
    .footer{
        .footerWrapper{
            .footerContents{
                .footerContent2{
                    flex-direction: column;
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .footer{
        .footerWrapper{
            flex-direction: column;
            gap: 60px;

            .footerContents{
                width: 100%;
            }
        }

        .footerText{
            margin-top: 100px;
        }
    }
}

/* @media (max-width: 500px) {
    .footer{
        .footerWrapper{
            .footerContents{
                .footerContent{
                    h3{
                        font-size: 2rem;
                    }
                    
                    p{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
} */