.testimonial {
    width: 100%;
    /* min-height: 100vh; */
    background-color: var(--main-red);
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    z-index: 1;

    .styledArrow1,
    .styledArrow2 {
        width: 150px;
        position: absolute;
        z-index: -1;
    }

    .styledArrow2 {
        top: 10%;
        right: 0;
    }

    .styledArrow1 {
        bottom: 10%;
        left: 0;
    }

    .testimonialHeadingText {
        font-size: var(--Heading2FS);
        color: white;
        text-align: center;
    }

    .slide {
        width: min(700px, 100%);
        min-height: 330px;
        background-color: #ffffff;
        color: #333333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;

        .slideWrapper {
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;

            img {
                width: 90px;
                height: auto;
                border-radius: 50%;
                object-fit: cover;
            }

            p {
                font-size: var(--ParagraphFS);
            }

            .slidesContents {
                align-self: center;
                display: flex;
                flex-direction: column;
                gap: 40px;

                .slidesHeading {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        font-size: var(--Heading4FS);
                    }
                    p{
                        font-size: var(--Paragraph2FS);
                        color: #777;
                    }
                }
            }
        }
    }

    .testimonial-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
        .arrows {
        display: flex;
        gap: 20px;
        button {
            background-color: rgb(188, 32, 59, 0.3);
            color: #fff;
            border: none;
            padding: 10px 15px;
            font-size: 18px;
            margin: 0 10px;
            cursor: pointer;
            border-radius: 50%;
            }

            button:hover {
                background-color: #6c1625;
            }
        }

        .dots {
            margin-top: 1rem;
        }
    
        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #6c1625;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
    
        .dot.active {
            background-color: rgb(255, 255, 255);
        }

    }
}




@media (max-width: 600px) {
    .testimonial{
        padding: 50px 20px;
        .testimonialHeadingText {
            font-size: var(--Heading3FS);
            color: white;
            text-align: center;
        }
        .slide{
            .slideWrapper{
                flex-direction: column;
                gap: 10px;
                    .slidesContents {
                        gap: 20px;
                    }
                    img{
                        width: 90px;
                        height: auto;
                        border-radius: 50%;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: var(--ParagraphFS);
                        line-height: 1.5;
                        color: #555;
                    }

                .slidesContents{
                    .slidesHeading{
                        p{
                            font-size: var(--Paragraph2FS);
                            color: #777;
                        }
                    }
                }
            }
            
        }
    }
}