.testimonial{
    width: 100%;
    height: 100vh;
    background-color: var(--main-red);
    font-family: "Raleway", sans-serif;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    z-index: 1;

    .styledArrow1, .styledArrow2{
        width: 150px;
        position: absolute;
        z-index: -1;
    }

    .styledArrow2{
        top: 10%;
        right: 0;
    }

    .styledArrow1{
        bottom: 10%;
        left: 0;
    }

    .testimonialHeadingText{
        font-family: "Montserrat", sans-serif;
        font-size: var(--HeadingFS);
        color: white;
        text-align: center;
    }

    .slides{
        /* width: min(1800px, 90%); */
        width: min(700px, 90%);
        display: flex;
        align-items: center;

        .slide{
            width: min(700px, 100%);
            min-height: 330px;
            background-color: white;
            border-radius: 20px;
            align-items: center;
            display: flex;
            padding: 20px;

            .slideWrapper{
                display: flex;
                gap: 20px;

                img{
                    width: 70px;
                }
                
                p{
                    font-size: calc(var(--ParagraphFS) + 1px);
                }
                
                .slidesContents{
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
    
                    .slidesHeading{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        h4{
                            font-size: var(--Heading4FS);
                        }
    
                        p{
                            font-size: var(--ParagraphFS);
                        }
                    }
                }
            }
        }
    }

    .testimonialControls{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin-top: 20px;

        .slidesArrow{
            display: flex;
            gap: 20px;

            button{
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .slidesCircles{
            display: flex;
            gap: 10px;

            span{
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background-color: white;
                opacity: 0.8;
                cursor: cell;
                z-index: 1;
            }
        }
    }
}