.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 15% 5%;
  font-family: 'Mazzard', sans-serif;
}

.faq-section h1 {
  line-height: 45px;
  font-size: 36px;
}

.faq-container {
  text-align: left;
  margin-top: 20px;
  width: 100%;
}

hr{
    background-color: #ed1d61;
    border-width: 0;
    padding-top: 1px;
    margin-bottom: 10px;
}

.faq-card {
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
}

.faq-card a {
    color: black;
}

.faq-question {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
  text-align: left;
  width: 100%;
}

.faq-question h2 {
  font-size: 20px;
  margin: 0;
  word-wrap: break-word;
  line-break: auto;
}

.faq-card p {
  font-size: 17px;
  line-height: 23px;
}

.faq-question img{
  width: 30px;
}

.faq-answer {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  color: #555;
}


/* Desktop View */
@media (min-width: 800px) {
  .faq-section {
    padding: 5%;
    gap: 50px;
  }
  .faq-question h2 {
    font-size: 22px;
  }
  .faq-card p {
  font-size: 19px;
  line-height: 25px;
}
}